.list-group-hover .list-group-item:hover {
    background-color: #f0f0f0;
    cursor: grab;
}

.list-group-item > button {
    border: none;
    background-color: rgba(255,255,255,0);
    float: right;
}

.list-group-item > button:hover {
    border: none;
    cursor: pointer;
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255,255,255,0);
    float: right;
}

.list-group-hover .list-group-item.active:hover,
.list-group-item.active {
    background-color: #007bff;
}