<div class="d-flex h-100">
  <div class="item-list debug-border" style="width:18%">
    <button type="button" class="btn btn-default">Back</button>
    <button type="button" class="btn btn-default">Save Changes</button>
    <form class="d-flex flex-column">
      <div class="form-group p-2 w-100">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="worship.name" (keyup)="updateTab()">
      </div>
      <div>

      </div>
    </form>
  </div>
  <div class="d-flex flex-column debug-border flex-1">
    <div class="d-flex debug-border flex-1">

    </div>
    <div class="d-flex debug-border flex-1">
      <div class="d-flex lyrics-holder" style="width:60%">
        <div class="flex-1 debug-border"></div>
        <div class="flex-1 debug-border"></div>
      </div>
      <div class="flex-1 debug-border">

      </div>
    </div>
  </div>
</div>
