<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <button type="button" class="btn btn-default">Add New</button>
      <button type="button" class="btn btn-default disabled">Remove</button>
      <button type="button" class="btn btn-default disabled">Add to Worship...</button>
      
    </div>
    <div class="col-3">
      <form class="form-inline w-100">
        <div class="form-group w-100">
          <label class="sr-only" for="search">Search</label>
          <input type="text" class="form-control w-100" id="search" placeholder="Search by name/lyrics/authors/etc">
        </div>
      </form>
    </div>
  </div>
</div>