/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng2-toastr/bundles/ng2-toastr.min.css";

html {
    overflow-x: hidden;
}
body{
    height: 100vh;
    overflow-y: hidden;
}
.flex-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.debug-border {
    border: solid 1px #ccc;
}